<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="net.solar.server.dao.TomatoMapper">

	<resultMap type="net.solar.server.entity.Tomato"  
        id="tomatoMap">
        <id property="id" column="id"/>
    	<result property="userId" column="user_id"/>
    	<result property="tomatoCount" column="tomato_count"/>
	</resultMap>
	
	<insert id="insertTomato">
		insert into tomato(user_id,tomato_count,tomato_year,tomato_month,tomato_day)
		values(#{userId},#{tomatoCount},#{tomatoYear},#{tomatoMonth},#{tomatoDay})
	</insert>
	
</mapper>