<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="net.solar.server.dao.UserMapper">

	<resultMap type="net.solar.server.entity.User" 
        id="userMap">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
    	<result property="userName" column="user_name"/>
    	<result property="password" column = "password"/>
    	<result property="verifyCode" column = "verify_code"/>
    	<result property="userHead" column = "user_head"/>
	</resultMap>
	
	<update id="updateImg">
		update user u set u.user_head=#{head} where u.id=#{id}
	</update>
	
	<select id="findUserById" resultMap="userMap">
		select * from user u where u.id=#{id}
	</select>
	
</mapper>