<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace:映射器接口权限名-->
<mapper namespace="net.solar.server.dao.MatterMapper">

<resultMap type="net.solar.server.entity.Matter" id="matterMapper">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="matter_name" property="matterName"/>
		<result column="matter_time" property="matterTime"/>
	</resultMap>
	

	<insert id="insertMatter">
		insert into matter(user_id,matter_name,matter_time) values(#{userId},#{matter},#{date})
	</insert>
	
	<select id="selectMatter" resultMap="matterMapper">
		select matter_time,matter_name from matter where user_id=#{id}
	</select>
	
	</mapper>